@import "tailwindcss";

@font-face {
  font-family: Chewy;
  src: url(./assets/fonts/Chewy.ttf);
}

@font-face {
  font-family: Rubik;
  src: url(./assets/fonts/Rubik.ttf);
}

@font-face {
  font-family: Pacifico;
  src: url(./assets/fonts/Pacifico.ttf);
}

body {
  @apply bg-snow font-rubik;
}

#root {
  @apply max-w-screen min-h-screen;
}

@theme {
  --font-chewy: Chewy;
  --font-rubik: Rubik;
  --font-pacifico: Pacifico;

  --color-snow: #f9f5f5;
  --color-butter: #ffff85;
  --color-caribou: #7ab0bd;
  --color-coffee: #573d23;
  --color-forest: #305f3c;
  --color-night: #151515;
}

@layer base {
  h1 {
    @apply font-chewy text-3xl xl:text-4xl;
  }

  p {
    @apply text-sm xl:text-base;
  }

  a {
    @apply text-sm xl:text-base;
  }
}

@layer components {
  .mp-default {
    @apply p-4 md:px-8 mx-auto my-8;
  }

  .bar {
    @apply bg-butter w-full h-1.5 rounded-full;
  }

  .text-glow {
    text-shadow: 0 0 10px var(--color-butter);
  }

  .card-shadow {
    box-shadow: 0 0 10px var(--color-gray-300);
    @apply rounded-2xl;
  }

  .rounded-text-bg {
    @apply w-fit p-2 rounded-full;
  }

  .image-ticker-item {
    @apply w-64 h-auto mr-8;
  }

  .image-ticker {
    @apply flex-shrink-0 flex;
  }

  .star {
    @apply w-6 h-auto;
  }

  .social-media-link {
    @apply w-10 h-10;
  }

  .footer-contact-info {
    @apply text-snow underline;
  }
}
