@import "tailwindcss";

@font-face {
  font-family: Chewy;
  src: url(./assets/fonts/Chewy.ttf);
}

@font-face {
  font-family: Rubik;
  src: url(./assets/fonts/Rubik.ttf);
}

@font-face {
  font-family: Pacifico;
  src: url(./assets/fonts/Pacifico.ttf);
}

body {
  @apply bg-snow font-rubik;
}

#root {
  @apply max-w-screen min-h-screen;
}

@theme {
  --font-chewy: Chewy;
  --font-rubik: Rubik;
  --font-pacifico: Pacifico;

  --color-snow: #f9f5f5;
  --color-butter: #FFFF85;
  --color-tan: #D1B189;
  --color-coffee: #573d23;
  --color-forest: #305F3C;
  --color-night: #151515;
}

@layer base {
  h1 {
    @apply font-chewy;
  }
}

@layer components {
  .mp-default {
    @apply mx-auto p-2 lg:p-4;
  }

  .bar {
    @apply bg-butter w-full h-1.5 rounded-full;
  }

  .text-glow {
    text-shadow: 0 0 15px var(--color-butter);
  }

  .rounded-text-bg {
    @apply bg-night/75 w-fit p-2.5 lg:p-4 rounded-full;
  }
}
